<table class="simpleList">
  <thead>
    <tr>
      <th class='order_status'></th>
      <th class='number'>#</th>
      <th class="order_status">&nbsp;Payment Status</th>
      <th class='datetime'>Order Date and Time</th>
      <th class='string'>Comission Method</th>
      <th class='float'>Comission</th>
      <th class='number'>Order #</th>
      <th class='float'>Order Total</th>
      <th class="order_status">&nbsp;Order Status</th>
    </tr>    
  </thead>
  <tbody>
    <? if (!$referrals): ?>
      <tr class="noData">
        <td colspan="6">The affilaite has not generated any referrals, yet</td>
      </tr>
    <? endif ?>
    <?
      foreach ($referrals as $referral):
        $order = $referral->order;
        $url = url('threetwentynyaffiliate/referrals/preview/'.$referral->id);
    ?>
      <tr class="<?= Backend_Html::zebra('customer_orders') ?> <?= $order->deleted_at ? 'deleted' : null ?>">
	<td <?= click_link($url) ?> class="order_status">
	  <span style="background-color: <?= $referral->status_color() ?>">&nbsp;</span>
	</td>
	<td <?= click_link($url) ?> class="link number"><a href="<?= $url ?>"><?= $referral->id ?></a></td>
	<td <?= click_link($url) ?> class="order_status">
	  &nbsp;<?= ucwords($referral->status) ?>
	</td>
        <td <?= click_link($url) ?> class="link datetime"><a href="<?= $url ?>"><?= $order->displayField('order_datetime') ?></a></td>
	<td <?= click_link($url) ?> class="link string"><a href="<?= $url ?>"><?= ucwords(str_replace('_', ' ', $referral->commission_method)) ?></a></td>
	<td class="float last"><?= format_currency($referral->commission) ?></td>
	<td <?= click_link($url) ?> class="link number"><a href="<?= $url ?>"><?= $order->id ?></a></td>
	<td <?= click_link($url) ?> class="link float"><a href="<?= $url ?>"><?= $order->displayField('total', 'list') ?></a></td>
	<td <?= click_link($url) ?> class="order_status">
	  <span style="background-color: <?= $order->displayField('status_color') ?>">&nbsp;</span>
	  &nbsp;<?= $order->status->name ?>
        </td>
    <? endforeach; ?>
  </tbody>
</table>
