<? Phpr_View::beginBlock("head") ?>
  <script type="text/javascript" src="modules/threetwentynyaffiliate/resources/javascript/shared/commission_settings.js"></script>
<? Phpr_View::endBlock() ?>


<? Phpr_View::beginBlock("view") ?>

<? if (!isset($fatalError)): ?>
  <div class="form500">
    <?= Phpr_Form::openTag(array('id'=>'form_element')) ?>
      <? $this->formRender() ?>
      <?= backend_ajax_button('Save', 'edit_onSave', array('class'=>'default')) ?>
      <?= backend_ajax_button('Cancel', 'edit_onCancel') ?>

      <?= backend_ajax_button('Delete', 'edit_onDelete', array('class'=>"right"), "confirm: 'Do you really want to delete this affiliate?'") ?>
      <div class="clear"></div>
    </form>
  </div>
<? else: ?>
  <?= flash() ?>
  <p><a href="<?= url('/threetwentynyaffiliate/affiliates') ?>">Return to the affiliates list</a></p>
<? endif ?>

<? Phpr_View::endBlock() ?>
