<? $affiliate_preview_url = url('/threetwentynyaffiliate/affiliates/preview/' . $form_model->affiliate->id . '?' .uniqid()) ?>
<? $customer_order = $form_model->order ?>

<ul class="breadcrumbs">
  <li><a href="<?= url('/threetwentynyaffiliate/affiliates?'.uniqid()) ?>">Affiliates</a></li>
  <li><a href="<?= $affiliate_preview_url ?>">Affiliate</a></li>
  <li><?= $this->app_page_title ?></li>
</ul>

<div class="scoreboardReport">
  <ul>
    <li>
      <h3>Referral</h3>
      <p>#<?= $form_model->id ?></p>
      <p class="description">
      	Created: <?= $form_model->created_at->format('%x') ?>
      </p>
    </li>
    <li>
      <h3>Affiliate</h3>
      <p><a href="<?= $affiliate_preview_url ?>"><?= $form_model->affiliate->name ?></a></p>
    </li>
    <li>
      <h3>Commission</h3>
      <p><?= format_currency($form_model->commission) ?></p>
    </li>
    <li class="last">
      <h3>Payment Status</h3>
      <p>
   	<span class="order_status_marker" style="background-color: <?= $form_model->status_color() ?>"></span>
	<?= h($form_model->displayField('status', 'list')) ?>
      </p>
    </li>
  </ul>
  <div class="clear"></div>
</div>
 
<? if (!isset($fatalError)): ?>
  <?= Phpr_Form::openTag(array('id'=>'toolbar_form')) ?>
    <div class="toolbar">
      <a class="imageLink go_back img_noBottomPading" href="<?= $affiliate_preview_url ?>">Return to Affiliate</a>
      <div class="separator"></div>
      <a class="imageLink edit_document" href="<?= url('/threetwentynyaffiliate/referrals/edit/'.$form_model->id.'?'.uniqid()) ?>" >Edit</a>
      <a class="imageLink delete_document" href="#" onclick="return $(this).getForm().sendPhpr('preview_onDeleteAffiliateOrder', {confirm: 'Do you really want to delete this affiliate order?', loadIndicator: {show:     false}, onBeforePost: function(){LightLoadingIndicator.show('Loading...')}, onComplete: LightLoadingIndicator.hide, onFailure: popupAjaxError})">Delete</a>
      <div class="clear"></div>
      </div>
    </form>
<? endif ?>

<div class="tabs formReportLayout">

  <ul id="affiliate_order_tabs" class="tabs_tabs">
    <li class="round active"><a href="#affiliate_order" onclick="return false">Referral</a></li>
    <li class="round active"><a href="#affiliate_order_shop_order" onclick="return false">Customer Order</a></li>
  </ul>
  <div class="clear tab_separator"></div>
  <ul class="tabs_pages" id="affiliate_order_tab_pages">
    <li class="form_page_preview" id="affiliate_order">
      <?= Phpr_Form::openTag() ?>
        <? $this->formRenderReportPreview() ?>
      </form>
    </li>
    <li class="form_page_preview" id="affiliate_order_shop_order">
    <?= backend_button('View Order Details', url('/shop/orders/preview/' . $customer_order->id . '?' . uniqid())) ?> 	
    </li>
  </ul>
</div>
<div class="clear"></div>

<script>
  window.addEvent('domready', function() {
    if ($('affiliate_order_tabs'))
    {
      new TabManager('affiliate_order_tabs','affiliate_order_tab_pages',{trackTab: false});
    }
  })
</script>
