<div class="scoreboardReport">
  <ul>
    <li>
      <h3>Affiliate</h3>
      <p><?= $form_model->name ?></p>
      <p class="description">
      Added: <?= $form_model->created_at->format('%x %X') ?>
      </p>
    </li>
    <li>
      <h3>Referrals</h3>
      <p><?= $form_model->order_count ?></p>
    </li>
    <li class="last">
      <h3>Total Commission</h3>
      <p><?= format_currency($form_model->total_commission) ?></p>
    </li>
  </ul>
  <div class="clear"></div>
</div> 
