<table class="simpleList">
  <thead>
    <tr>
      <th class="order_status">&nbsp;</th>
      <th class='number'>#</th>
      <th class='varchar'>Status</th>
      <th class='float'>Amount Owed</th>
      <th class='float'>Amount Paid</th>
    </tr>    
  </thead>
  <tbody>
    <? if (!$payouts): ?>
      <tr class="noData">
        <td colspan="6">The affilaite has not generated any payouts, yet</td>
      </tr>
    <? endif ?>
    <?
      foreach ($payouts as $payout):
        $url = url('threetwentynyaffiliate/payouts/preview/'.$payout->id . '?' . uniqid());
    ?>
      <tr class="<?= Backend_Html::zebra('customer_orders') ?>">
	<td <?= click_link($url) ?> class="order_status"> 
	  <span style="background-color: <?= $payout->status_color() ?>">&nbsp;</span>
	</td>
	<td <?= click_link($url) ?> class="link number"><a href="<?= $url ?>"><?= $payout->id ?></a></td>
	<td <?= click_link($url) ?> class="link varchar">
	  <a href="<?= $url ?>" ><?= ucwords($payout->status) ?></a>
        </td>
	<td <?= click_link($url) ?> class="link float"><a href="<?= $url ?>"><?= $payout->displayField('amount_owed', 'list') ?></a></td>
	<td <?= click_link($url) ?> class="link float"><a href="<?= $url ?>"><?= $payout->displayField('amount_paid', 'list') ?></a></td>
    <? endforeach; ?>
  </tbody>
</table>
