<? Phpr_View::beginBlock("head") ?>
  <script type="text/javascript" src="modules/threetwentynyaffiliate/resources/javascript/shared/commission_settings.js"></script>
<? Phpr_View::endBlock() ?>


<? Phpr_View::beginBlock("view") ?>

<ul class="breadcrumbs">
  <li><a href="<?= url('threetwentynyaffiliate/affiliates') ?>">Affiliates</a></li>
  <li><?= $this->app_page_title ?></li>
</ul>

<?= flash() ?>

<? if (!isset($fatalError)): ?>
  <div class="form500">
    <?= Phpr_Form::openTag(array('id'=>'form_element')) ?>
      <? $this->formRender() ?>
      <input type="hidden" value="1" id="new_record_flag"/> 
      <?= backend_ajax_button('Save', 'create_onSave', array('class'=>'default')) ?>
      <?= backend_button('Cancel', url('/threetwentynyaffiliate/affiliates')) ?>
    </form>
  </div>
<? else: ?>
  <p><a href="<?= url('/threetwentynyaffiliate/affiliates') ?>">Return to the affiliates list</a></p>
<? endif ?>

<? Phpr_View::endBlock() ?>
