<ul class="breadcrumbs">
  <li><a href="<?= url('/threetwentynyaffiliate/affiliates?'.uniqid()) ?>">Affiliates</a></li>
  <li><?= $this->app_page_title ?></li>
</ul>

<? $this->renderPartial('affiliate_scoreboard') ?>
     
<? if (!isset($fatalError)): ?>
  <?= Phpr_Form::openTag(array('id'=>'toolbar_form')) ?>
    <div class="toolbar">
      <a class="imageLink go_back img_noBottomPading" href="<?= url('/threetwentynyaffiliate/affiliates/') ?>">Return to the Affiliate List</a>
      <div class="separator"></div>
      <a class="imageLink edit_document" href="<?= url('/threetwentynyaffiliate/affiliates/edit/'.$form_model->id.'?'.uniqid()) ?>" >Edit</a>
      <a class="imageLink delete_document" href="#" onclick="return $(this).getForm().sendPhpr('preview_onDeleteAffiliate', {confirm: 'Do you really want to delete this affiliate?', loadIndicator: {show:     false}, onBeforePost: function(){LightLoadingIndicator.show('Loading...')}, onComplete: LightLoadingIndicator.hide, onFailure: popupAjaxError})">Delete</a>
      <div class="clear"></div>
      </div>
    </form>
<? endif ?>

<div class="tabs formReportLayout">

  <ul id="affiliate_tabs" class="tabs_tabs">
    <li class="round active"><a href="#affiliate" onclick="return false">Affiliate</a></li>
    <li class="round active"><a href="#affiliate_orders" onclick="return false">Referrals</a></li>
    <li class="round active"><a href="#affiliate_payouts" onclick="return false">Payouts</a></li>
  </ul>
  <div class="clear tab_separator"></div>
  <ul class="tabs_pages" id="affiliate_tab_pages">
    <li class="form_page_preview" id="affiliate">
      <?= Phpr_Form::openTag() ?>
        <? $this->formRenderReportPreview() ?>
      </form>
    </li>
    <li class="form_page_preview" id="affiliate_orders">
      <? $this->renderPartial(PATH_APP . '/modules/threetwentynyaffiliate/controllers/shared/referral_list.htm', array('referrals'=>$form_model->referrals())) ?>
    </li>
    <li class="form_page_preview" id="affiliate_payouts">
      <? $this->renderPartial('affiliate_payouts', array('payouts'=>$form_model->payouts)) ?> 
    </li>
  </ul>
</div>
<div class="clear"></div>

<script>
  window.addEvent('domready', function() {
    if ($('affiliate_tabs'))
    {
      new TabManager('affiliate_tabs','affiliate_tab_pages',{trackTab: false});
    }
  })
</script>
