<div id="change_status_form">
  <h2>Change Payout Status</h2>
  <div class="content">
    <div class="form400">
      <?= Phpr_Form::openTag() ?>
        <? if (!isset($fatalError)): ?>
        <input type="hidden" name="ThreeTwentyNYAffiliate_Payout[payout_ids]" value="<?= implode(',', $payout_ids) ?>"/>
        <p>Payouts selected: <?= count($payout_ids) ?></p>
	<div class="form form_page">									
          <ul class="formElements">
            <li id="form_field_statusThreeTwentyNYAffiliate_Payout" class="field dropdown full">
	      <label for="ThreeTwentyNYAffiliate_Payout_status">
	        Change Status to:
	      </label>
	      <div id="form_field_container_statusThreeTwentyNYAffiliate_Payout" class="fieldContainer ">
	        <select autocomplete="off" id="ThreeTwentyNYAffiliate_Payout_status" name="ThreeTwentyNYAffiliate_Payout[status]" style="display: none;">
                  <option value="unpaid">Unpaid</option>
	          <option selected="selected" value="paid">Paid</option>
                </select>
              </div>
              <div class="clear"></div>
            </li>		
          </ul>
	</div>
	<? else: ?>
	  <? flash() ?>
          <?= backend_button('Cancel', array('onclick'=>'return cancelPopup()')) ?>	  
          <div class="clear"></div>
	<? endif ?>
	<?= backend_ajax_button('Update Payouts', 'index_onSetOrderStatuses', array('class'=>'default'), "
		loadIndicator: {injectInElement: true}
	") ?>
	<?= backend_button('Cancel', array('onclick'=>'return cancelPopup()')) ?>
	<div class="clear"></div>
      </form>
    </div>
  </div>
</div>
