<div class="toolbar">
  <?= backend_ctr_button('Generate a Payout', 'new_document', url('/threetwentynyaffiliate/payouts/create')) ?>
  <div class="separator">&nbsp;</div>
  <?= backend_ctr_button('Mass Generate Payouts', 'group', array('href'=>'#', 'onclick'=>"return mass_generate_payouts()")) ?>
  <div class="separator">&nbsp;</div>
  <?= backend_ctr_button('Change Status', 'change_status', array('href'=>'#', 'onclick'=>"return payouts_change_status()")) ?>
  <div class="clear"></div>
</div>
