<th class="checkbox">
  <input type="checkbox" class="list_head_cb" value="1" onclick="$(this).findParent('table').getElements('tbody  input.list_cb').each(function(cb){cb.cb_update_state(this.checked)}, this)"/>
</th>
<th class="order_status">
</th>
