<div>
  <h2>Mass Generate Payouts</h2>
  <div class="content">
    <div class="form400">
      <?= Phpr_Form::openTag() ?>
        <? if (!isset($fatalError)): ?>
	  <? if($payout_count > 0): ?>
	    <p>Payouts to be generated: <strong><?= $payout_count ?></strong></p>
	    <p>
	    You are about to generate payouts for <?= $payout_count ?> affiliates that meet your commission minumum of <?= format_currency($payout_minimum) ?>.
	    </p>
	    <?= backend_ajax_button('Generate Payouts', 'index_onMassGeneratePayouts') ?>
	    <?= backend_button('Cancel', array('onclick'=>'return cancelPopup()', 'class'=>'right')) ?>
	  <? else: ?>
	    <p>There are no affiliates that meet your commission minumum of <?= format_currency($payout_minimum) ?></p>
	    <?= backend_button('Close', array('onclick'=>'return cancelPopup()')) ?>
	  <? endif ?>
	<? endif ?>
	<div class="clear"></div>
      </form>
    </div>
  </div>
</div>
