<p class="list_select_controls">Select on this page:
  <a href="#" onclick="return select_payouts(event, 'all')">all</a>,
  <a href="#" onclick="return select_payouts(event, 'none')">none</a>,
  <a href="#" onclick="return select_payouts(event, 'paid')">paid</a>,
  <a href="#" onclick="return select_payouts(event, 'unpaid')">unpaid</a>
</p>
