<div class="scoreboardReport">
  <ul>
    <li>
      <h3>Payout</h3>
      <p># <?= $form_model->id ?></p>
    </li>
    <li>
      <h3>Status</h3>
      <p>
        <span class="order_status_marker" style="background-color: <?= $form_model->status_color() ?>"></span>
	<?= ucwords($form_model->status) ?>
      </p>
    </li>
    <li>
      <h3>Affiliate</h3>
      <p>
      <a href="<?= url('/threetwentynyaffiliate/affiliates/preview/' . $form_model->affiliate->id . '?' .uniqid()) ?>">
	  <?= $form_model->affiliate->name ?>
	</a>
      </p>
      <p class="description">
      </p>
    </li>
    <li class="last">
      <? if ($form_model->is_paid()): ?>
	<h3>Amount Paid</h3>
        <p><?= format_currency($form_model->amount_paid) ?></p>
      <? else: ?>
        <h3>Amount Owed</h3>
        <p><?= format_currency($form_model->amount_owed) ?></p>
      <? endif ?>
  </ul>
  <div class="clear"></div>
</div>

