<? Phpr_View::beginBlock("view") ?>

<? if (!isset($fatalError)): ?>

<? $this->renderPartial('scoreboard', array('form_model' => $payout)) ?>

  <div class="form500">
    <?= Phpr_Form::openTag(array('id'=>'form_element')) ?>
      <? $this->formRender($payout) ?>
      <?= backend_ajax_button('Save', 'change_status_onSave', array('class'=>'default')) ?>
      <?= backend_button('Cancel', url('threetwentynyaffiliate/payouts/preview/'. $payout->id .'?'. uniqid())) ?>

      <?= backend_ajax_button('Delete', 'edit_onDelete', array('class'=>"right"), "confirm: 'Do you really want to delete this payout?'") ?>
      <div class="clear"></div>
    </form>
  </div>
<? else: ?>
  <?= flash() ?>
  <p><a href="<?= url('/threetwentynyaffiliate/payouts') ?>">Return to the payout list</a></p>
<? endif ?>

<? Phpr_View::endBlock() ?>
