<ul class="breadcrumbs">
  <li><a href="<?= url('threetwentynyaffiliate/payouts') ?>">Payouts</a></li>
  <li><?= $this->app_page_title ?></li>
</ul>

<?= flash() ?>

<? if (!isset($fatalError)): ?>
  <div class="form500">
    <?= Phpr_Form::openTag(array('id'=>'form_element')) ?>
      <? $this->formRender() ?>
      <input type="hidden" value="1" id="new_record_flag"/> 
      <?= backend_ajax_button('Save', 'create_onSave', array('class'=>'default')) ?>
      <?= backend_button('Cancel', url('/threetwentynyaffiliate/payouts')) ?>
    </form>
  </div>
<? else: ?>
  <p><a href="<?= url('/threetwentynyaffiliate/payouts') ?>">Return to the payout list</a></p>
<? endif ?>
