<? Phpr_View::beginBlock("head") ?>
  <link rel="stylesheet" href="modules/threetwentynyaffiliate/resources/css/affiliate.css" type="text/css"/>
<? Phpr_View::endBlock() ?>

<? Phpr_View::beginBlock("view") ?>

 <ul class="breadcrumbs">
  <li><a href="<?= url('/threetwentynyaffiliate/payouts?'.uniqid()) ?>">Payouts</a></li>
  <li><?= $this->app_page_title ?></li>
</ul>

<? $this->renderPartial('scoreboard') ?>

<?= flash() ?>

<? if (!isset($fatalError)): ?>
  <?= Phpr_Form::openTag(array('id'=>'toolbar_form')) ?>
    <div class="toolbar">
      <a class="imageLink go_back img_noBottomPading" href="<?= url('/threetwentynyaffiliate/payouts/') ?>">Return to the Payout List</a>
      <div class="separator"></div>
      <a class="imageLink change_status" href="<?= url('/threetwentynyaffiliate/payouts/change_status/'.$form_model->id.'?'.uniqid()) ?>" >Update Status</a>
      <a class="imageLink delete_document" href="#" onclick="return $(this).getForm().sendPhpr('preview_onDelete', {confirm: 'Do you really want to delete this payout?', loadIndicator: {show:     false}, onBeforePost: function(){LightLoadingIndicator.show('Loading...')}, onComplete: LightLoadingIndicator.hide, onFailure: popupAjaxError})">Delete</a>
      <div class="clear"></div>
      </div>
    </form>
<? endif ?>

<div>
  <? $this->renderPartial(PATH_APP . '/modules/threetwentynyaffiliate/controllers/shared/referral_list.htm', array('referrals'=>$form_model->referrals)) ?>
</div>

<? Phpr_View::endBlock() ?>
