<? Phpr_View::beginBlock("head") ?>
  <script type="text/javascript" src="modules/threetwentynyaffiliate/resources/javascript/shared/commission_settings.js"></script>
<? Phpr_View::endBlock() ?>


<? Phpr_View::beginBlock("view") ?>

<ul class="breadcrumbs">
  <li><a href="<?= url('/system/settings') ?>">Settings</a></li>
  <li><?= $this->app_page_title ?></li>
</ul>

<?= flash() ?>

<? if(!isset($fatalError)): ?>
  <div class="form400">
    <?= Phpr_Form::open_tag(array('id' => 'affiliate_settings_form')) ?>
      <? $this->formRender() ?>
      <?= backend_ajax_button('Save', 'index_onSave', array('class'=>'default')) ?>
      <?= backend_button('Cancel', array('href'=>url('system/settings'), 'class'=>'right')) ?>
      <div class="clear"></div>
    </form>
  </div>
<? else: ?>
  <p><a href="<?= url('/system/settings') ?>">Return to the settings page</a></p>
<? endif ?>

<? Phpr_View::endBlock() ?>
